<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/app.js"></script>
</head>
<body>
    <h1 id="header" >SO MUCH FRUIT!</h1>
    <div>
        <label for="fruitInput">Type Fruit Here: </label>
        <input type="text" id="fruitInput">
        <button id="addButton" >Add Fruit!</button>
        <div id="fruitList"></div>

    </div>
</body>
</html>